//------ ON OFF SWITCH -------//
.onoffswitch {
  position: relative;
  width: 50px;
  float: left;
  border-radius: 4px;
  margin-top: 7px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 0px solid #999999; border-radius: 0px;
  margin-bottom: 0;
  border-radius: 4px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner > span {
  display: block;
  float: left;
  position: relative;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 10px;
  color: $white;
  font-family: $fontstack;
  font-weight: 400;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner .onoffswitch-active {
  padding-left: 15px;
  background-color: #ccc; color: #FFFFFF;
}
.onoffswitch-inner .onoffswitch-inactive {
  padding-right: 15px;
  background-color: #ccc; color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 26px; margin: 0px; text-align: center;
  border: 0px solid #999999;border-radius: 0px;
  position: absolute; top: 0; bottom: 0;
}
.onoffswitch-active .onoffswitch-switch {
  background: #81CD36; left: 0;
}
.onoffswitch-inactive .onoffswitch-switch {
  background: #E15B4B; right: 0;
}
.onoffswitch-active .onoffswitch-switch:before {
  content: " "; position: absolute; top: 0; left: 26px;
  border-style: solid; border-color: #81CD36 transparent transparent #81CD36; border-width: 15px 8px;
}
.onoffswitch-inactive .onoffswitch-switch:before {
  content: " "; position: absolute; top: 0; right: 26px;
  border-style: solid; border-color: transparent #E15B4B #E15B4B transparent; border-width: 15px 8px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
