@font-face {
  font-family: Proxima;
  src: url('/assets/fonts/Proximanova_Bold.otf');
  font-weight: 600;
}

@font-face {
  font-family: Proxima;
  src: url('/assets/fonts/Proximanova_Semibold.otf');
  font-weight: 500;
}

@font-face {
  font-family: Proxima;
  src: url('/assets/fonts/Proximanova_Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: Proxima;
  src: url('/assets/fonts/Proximanova_Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: Proxima;
  src: url('/assets/fonts/Proximanova_Thin.otf');
  font-weight: 200;
}