//---------------------MULTIPLE DROPDOWN-----------------------//
//-------------------------------------------------------------//

.ms-parent {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  .ms-choice {
    display: block;
    width: 100%;
    height: 42px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid $border-lighter;
    text-align: left;
    text-indent: 4px;
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
    line-height: 26px;
    color: $black;
    text-decoration: none;
    border-radius: 2px;
    background-color: $white;

    > span {
      padding-top: 5px;
      position: absolute;
      top: 0;
      left: 0;
      right: 20px;
      white-space: nowrap;
      padding-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      font-size: 14px;
      @include font-style ($fontstack, 14px , 400, 0);
      @include font-smoothing;
      padding-left: 8px;
    }

    > div {
      position: absolute;
      width: 10px;
      height: 8px;
      top: 14px;
      right: 14px;
      background: url('/assets/images/arrow-down.png');
      @include background-image (100% auto, center);
      &.open {
        background: url('/assets/images/arrow-up.png');
        @include background-image (100% auto, center)
      }
    }
    &:focus, &:active {
      outline: 0;
    }
  }
  .ms-drop {
    width: 100%;
    overflow: hidden;
    display: none;
    margin-top: -2px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background: #fff;
    color: #000;
    border: 1px solid $border-lighter;
    border-top: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius:0 0 4px 4px;
    ul{
      overflow-x: hidden;
      li{
        height: 30px;
        padding: 0;
        margin: 0;
        padding-right: 10px;
        padding-left: 10px;
        > label{
          margin-top: 8px;
          font-weight: 300;
          font-family:$fontstack;
          color: $black;
          font-weight: 400;
          @include font-smoothing;
          input {
            margin-top: -2px;
            margin-right: 10px;

          }
        }
      }
    }
  }
}

.ms-choice.disabled {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}


.ms-drop.bottom {
  top: 100%;
  @include box-shadow(none);
}

.ms-drop.top {
  bottom: 100%;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search {
  display: inline-block;
  margin: 0;
  min-height: 26px;
  padding: 4px;
  position: relative;
  white-space: nowrap;
  width: 100%;
  z-index: 10000;
}

.ms-search input {
  width: 100%;
  height: auto !important;
  min-height: 24px;
  padding: 0 20px 0 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #fff url('multiple-select.png') no-repeat 100% -22px;
  background: url('multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.ms-search, .ms-search input {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.ms-drop ul {
  overflow: auto;
  margin: 0;
  padding: 5px 8px;
}

.ms-drop ul > li {
  list-style: none;
  display: list-item;
  background-image: none;
  position: static;
}

.ms-drop ul > li .disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
  display: block;
  float: left;
}

.ms-drop ul > li.group {
  clear: both;
}

.ms-drop ul > li.multiple label {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ms-drop ul > li label {
  font-weight: normal;
  display: block;
  white-space: nowrap;
}

.ms-drop ul > li label.optgroup {
  font-weight: bold;
}

.ms-drop input[type="checkbox"] {
  vertical-align: middle;
}

.ms-drop .ms-no-results {
  display: none;
}
