//------------QUERY BUILDER------------//

.rule-container,
.rules-group-container,
.rule-placeholder {
  margin:4px 0;
  border-radius:3px;
  padding:10px;
  border:1px solid #eee;
  background:#fff;
  background:rgba(255, 255, 255, 0.9);
}

/* GROUPS */
.rules-group-container:first-child {
  padding:15px;
  border:1px solid $border-verylighter;
  background:#f6f7f8;
}

.rules-group-container {
  padding:15px;
  border:1px solid $border-lighter;
  background:#edeeef;
}

.rules-group-header {
  margin-bottom:15px;

  .btn-primary {
    height: 30px;
    width: 50px;
    padding-top: 6px;
    background-color: $blue;
    border-color: $blue;
    font-family: $fontstack;
    font-size: 10px;
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .btn-success{
    height: 30px;
    width: 100px;
    background-color: $green;
    border-color: $green;
    font-family: $fontstack;
    font-size: 10px;
    &:focus {
      outline: 0;
    }
  }

  .btn-danger{
    height: 30px;
    width: 100px;
    background-color: $red;
    border-color: $red;
    font-family: $fontstack;
    font-size: 10px;
    &:focus {
      outline: 0;
    }
  }
}
.rules-group-header input[name$=_cond] {
  display:none;
}

/* RULES */
.rules-list {
  list-style:none;
  padding:0 0 0 20px;
  margin:0;
}
.rule-container  {
  select {
    min-height: 28px;
    margin: 0 4px;
    padding-right: 5px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    font-family: $fontstack;
    font-size:12px;
  }
  .rule-filter-container {
    select {
      height: 26px;
    }

  }
  .rule-operator-container {
    select {
      height: 26px;
    }
  }

}
.rule-container.has-error {
  background:#fdd;
  border-color:#f99;
}
.rule-container>div:not(.rule-header) {
  display:inline-block;
  margin:0 5px 0 0;
  vertical-align:top;
}
.rule-value-container:not(:empty) {
  border-left:1px solid #ddd;
  padding-left:12px;
}
.rule-value-container label {
  margin-bottom:0;
}
.rule-value-container label.block {
  display:block;
}
.rule-container select,
.rule-container input[type=text],
.rule-container input[type=number] {
  padding:1px;
}

/* TICKS */
.rules-list>* {
  position:relative;
}
.rules-list>*:before,
.rules-list>*:after {
  content:'';
  position:absolute;
  left:-15px;
  width:15px;
  height:calc(50% + 4px);
  border-color:$border-lighter;
  border-style:solid;
}

.rules-list>*:before {
  top:-2px;
  border-width:0 0 2px 2px;
}
.rules-list>*:after {
  top:50%;
  border-width:0 0 0 2px;
}

.rules-list>*:first-child:before {
  top:-16px;
  height:calc(50% + 16px);
}
.rules-list>*:last-child:before {
  border-radius:0 0 0 4px;
}
.rules-list>*:last-child:after {
  display:none;
}

/* DRAG & DROP */
.rule-container .drag-handle,
.rules-group-container .drag-handle {
  cursor:move;
  display:inline-block;
}

.rule-container .dragged,
.rules-group-container .dragged {
  opacity:0.5;
}

.rule-placeholder {
  border:1px dashed #bbb;
  opacity:0.7;
}


