

@import "modules/elements/fonts";

@import "modules/colors";
@import "modules/mixins";


html {
  min-height: 100%;
  position: relative;
  z-index: -5;
  overflow-x:hidden;
}

body {
  height: 100%;
  overflow-x: hidden;
}




//------------------------Bootstrap Changes------------------------//
//-----------------------------------------------------------------//

.container {
  width: 1100px;
}

.container-fluid {
  margin-right: 100px;
  margin-left: 100px;
}
/* Index page container main used in order to narrow page*/
.container-main {
    width: 980px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
  margin-right:0;
  margin-left:0;
}

.dropdown-menu {
  @include box-shadow (0 1px 4px rgba(0,0,0,.15));
}


@import "modules/bootstrap-components/modal";
@import "modules/bootstrap-components/alert";
@import "modules/bootstrap-components/popover";


@import "pages/main-pages/index";
@import "pages/main-pages/pricing";
@import "pages/main-pages/sign";
@import "pages/main-pages/privacy-terms-faq";
@import "pages/main-pages/documantation";
@import "pages/main-pages/404";


@import "pages/panel-pages/panel-header";




//------------PANEL BODY-----------//
.body-panel {
  background-color: $panel-bg;
}

.panel-wrapper {
    min-height: 100%;
    overflow: hidden;
    background-color: $panel-bg;

    //Added laterly for hiding Scrollbar in Mozilla. However, real wrapper now
    .panel-sidebar-hide-wrapper 
    {
        width: 140px;
        display: block;
        overflow: hidden;
        float: left;
        height: 100%;
        position: fixed;
        padding: 0;
        margin: 0;
        z-index: 10;
        background-color: $sidebar-normal;
        
        .arrow-down {
            width: 15px;
            height: 10px;
            bottom: 10px;
            left: 70px;
            position: absolute;
            display: block;
            z-index: 5;
            background: url('/assets/images/small/arrow-down-grey.svg');
            @include background-image (100% auto, center);
        }
    }

    //Sidebar user menu
    .sidebar-user-holder {
      display: block;
      margin: 0;
      padding: 0;
      left: 0;
      position: fixed;
      bottom: 0;
      z-index:  10;
      float: none;
      .sidebar-user-item {
        width: 140px;
        height: 70px;
        display: block;
        margin: 0;
        padding: 0px 8px 0;
        text-align: center;
        text-decoration: none;
        background-color: $sidebar-normal;
        @include transition(all .3s);
        &.current {
          background-color: $sidebar-current;
          border-bottom: 1px solid $sidebar-border;
          &:hover {
            background-color: $sidebar-current;
            border-bottom: 1px solid $sidebar-border;
          }
          &:active {
            outline: 0;
          }
        }
        &:hover {
          text-decoration: none;
        }
        &:active, &:focus {
          outline: 0;
        }

        .user-avatar {
          width: 30px;
          height: 30px;
          margin-top: 30px;
          margin-right: auto;
          margin-left: auto;
          border-radius: 3px;
        }
        h5 {
          margin-top: 0px;
          font-family: $fontstack;
          font-size: 13px;
          font-weight: 500;
          color: $white;
          background-color: rgba(204, 204, 204, 0.15);
          border-radius: 20px;
          padding: 4px 4px;
          @include font-smoothing;
          .fa-cog {
            margin-right: 5px;
            font-size: 11px;
          }
        }
      }
      // Dropdown has three parts 1-Account Part  2-Projects  3-Logout
      .sidebar-user-dropdown {
        width: 320px;
        min-width: 320px;
        left: 149px;
        z-index: 25;
        top:-140px;
        padding: 0;
        margin: 0;
        border-radius: 3px;
        float: right;
        border: 1px solid $border-normal;
        //arrow icon points the owner of dropdown
        .arrow-icon {
          width: 12px;
          height: 20px;
          position: absolute;
          display: block;
          top:140px;
          left: -11px;
          background: url('../images/left-arrow-myaccount.svg');
          @include background-image (100% auto, center);
        }
        .user-account-holder {
          width: 100%;
          height: 45px;
          border-bottom: 1px solid $border-verylighter;
          .user-name {
            height: 100%;
            float: left;
            display: inline-block;
            padding-top: 12px;
            padding-left: 15px;
            font-family: $fontstack;
            font-size: 15px;
            font-weight:500;
            color: $black;
          }
          .user-account-button {
            margin-right: 15px;
            margin-top: 9px;
            border: 1px solid $green;
            background-color: transparent;
            color: $green-hover;
            font-size: 12px;
            &:hover, &:active {
              background-color: $green;
              border-color: $green;
              color: $white;
            }
          }
        }
        .user-usage-holder {
          width: 100%;
          height: 95px;
          padding: 5px 15px;
          border-bottom: 1px solid $border-verylighter;
          .user-usage-package {
            font-size: 13px;
            font-weight: 500;
            font-family: $fontstack;
          }
          .user-usage-project-number {
            float: left;
            position: relative;
            margin: 2px 20px 0px 1px;
            font-weight: 400;
            font-size: 11px;

            &::before {
              position: absolute;
              content: "•";
              width: 10px;
              height:10px;
              right: -18px;
              top:1px;
            }
          }
          .user-usage-project-usage {
            float: left;
            margin-top: 2px;
            font-weight: 400;
            font-size: 11px;
          }
          .user-usage-progress {
            width: 100%;
            height: 8px;
            display: block;
            .progress-bar {
              @include box-shadow(none);
            }
            .progress-bar-info {
              background-color: $blue;
            }
          }
        }
        .user-logout-holder {
          width: 100%;
          height: 45px;
          .user-logout-button {
            margin-top: 9px;
            margin-right: 15px;
            font-size: 12px;
          }
        }
      }
    }
    //Sidebar Wrapper
    .panel-sidebar-wrapper {
        width: 150px;
        display: block;
        height: 100%;
        /*position: fixed;*/
        overflow-y: auto;
        overflow-x: hidden;
        top: 0;
        right: -10px;
        bottom: 0;
        -ms-overflow-style: none;
        -moz-appearance: menuimage; 
        position: absolute;

        .panel-sidebar-holder {
            width: 100%;
            display: block;
            margin: 0;
            padding: 0;
            padding-bottom: 120px;
            background-color: $sidebar-normal;

            //Every single box in sidebar
            .panel-sidebar-item {
                width: 100%;
                display: block;
                margin:0;
                padding: 0;
                float: none;
                position: relative;
                > a {
                    width: 150px;
                    height: 80px;
                    display: block;
                    margin: 0;
                    text-align: center;
                    text-decoration: none;
                    padding: 0;
                    padding-right: 10px;
                    border-bottom: 1px solid $sidebar-border;
                    background-color: $sidebar-normal;
                    @include transition(.15s);

                  figure {
                    height: 55px;
                    width: 100%;
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                    padding-top: 18px;

                    &#report-sidebar {
                      width: 23px;
                      @include transition(all .25s);
                    }
                    &#test-sidebar {
                      width: 31px;
                      padding-top: 19px;
                      @include transition(all .25s);
                    }
                    &#domain-sidebar {
                      width: 30px;
                      @include transition(all .25s);

                    }
                    &#campaign-sidebar {
                      width: 26px;
                      padding-top: 16px;
                      @include transition(all .25s);

                    }
                    &#apps-sidebar {
                      width: 32px;
                      @include transition(all .25s);
                    }
                  }

                  h5 {
                    margin: 0;
                    margin-top: 4px;
                    font-family: $fontstack-heading;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0.4px;
                    color: #ccc;
                    @include font-smoothing;
                    @include transition (all 0.25s);
                  }

                  //current states
                  &.current {
                      background-color: $panel-bg;
                      border-bottom: 1px solid $sidebar-border;

                      // current-hover states
                      &:hover {
                         background-color: $panel-bg;
                        border-bottom: 1px solid $sidebar-border;
                        h5 {
                          color: $sidebar-normal;
                        }

                        #report-icon {
                          g {
                            path {
                              fill: $black;
                            }
                            line {
                              fill: $black;
                            }
                            rect {
                              fill: $black;
                            }
                          }
                        }
                        #apps-icon {
                          g {
                            path {
                              fill: $black;
                            }
                          }
                        }
                        #test-icon {
                          g {
                            path {
                              fill: $black;
                            }
                          }
                        }
                        #domain-icon {
                          g {
                            path {
                              fill: $black;
                            }
                          }
                        }
                        #campaign-icon {
                          g {
                            path {
                              stroke: $black;
                            }
                          }
                        }
                      }
                      //current-active states
                      &:active {
                          outline: 0;
                      }

                    h5 {
                      color: $sidebar-normal;
                    }
                    //current states
                    #report-icon {
                      g {
                        path {
                          fill: $black;
                        }
                        line {
                          fill: $black;
                        }
                        rect {
                          fill: $black;
                        }
                      }
                    }
                    #apps-icon {
                      g {
                        path {
                          fill: $black;
                        }
                      }
                    }
                    #test-icon {
                      g {
                        path {
                          fill: $black;
                        }
                      }
                    }
                    #domain-icon {
                      g {
                        path {
                          fill: $black;
                        }
                      }
                    }
                    #campaign-icon {
                      g {
                        path {
                          stroke: $black;
                        }
                      }
                    }
                  }
                //hover states
                  &:hover {
                    background-color: $sidebar-hover;
                      text-decoration: none;
                    h5 {
                      color: $white;
                    }
                    #report-icon {
                      g {
                        path {
                          fill: $white;
                        }
                        line {
                          fill: $white;
                        }
                        rect {
                          fill: $white;
                        }
                      }
                    }
                    #apps-icon {
                      g {
                        path {
                          fill: $white;
                        }
                      }
                    }
                    #test-icon {
                      g {
                        path {
                          fill: $white;
                        }
                      }
                    }
                    #domain-icon {
                      g {
                        path {
                          fill: $white;
                        }
                      }
                    }
                    #campaign-icon {
                      g {
                        path {
                          stroke: $white;
                        }
                      }
                    }
                  }
                // active & focus states
                  &:active, &:focus {
                      outline: 0;
                  }
                }

                //First Sidebar Item includes logo
                &.first {
                    height: 80px;

                   > a {
                     height: 100%;
                     width: 100%;
                     display: block;
                     &:hover {
                       background-color: $sidebar-normal;
                     }
                     .logo {
                       width: 100%;
                       height: 100%;
                       background: url('/assets/images/smartclick-logo-white.png');
                       @include background-image(100px auto, center);
                     }
                   }
                }
                //Sidebar Item Dropdowns
                .panel-sidebar-item-dropdown {
                    width: 170px;
                    min-width: 150px;
                    top: 100%;
                    left: 0;
                    position: relative;
                    margin: 0;
                    padding: 0;
                    float: none;
                    border-radius: 0;
                    border-bottom: 1px solid $sidebar-border;
                    background-color: $sidebar-subitems;
                    @include box-shadow (none);

                   .panel-sidebar-item-dropdown-item {
                        width: 100%;
                        height: 40px;
                        display: block;
                        margin: 0;
                        padding: 0;
                        > a {
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: relative;
                            padding-top: 12px;
                            padding-left:20px;
                            font-family:$fontstack-heading;
                            font-weight: 400;
                            font-size: 13px;
                            letter-spacing: 0.3px;
                            color: $white;
                            @include transition(.2s);
                            &:hover {
                                background-color: $sidebar-normal;
                                color: $white;
                            }
                            .icon {
                                display: none;
                                width: 24px;
                                height: 24px;
                                position: absolute;
                                top: 8px;
                                left: 10px;
                                background: red;
                            
                            }
                        }
                    }
                    
                }
            }
        }
        &::-webkit-scrollbar {
            width: 0 !important;
            height: 0 !important;
        }


    }

    //Panel Content If There is no Sidebar Ex. Projects Page
    .panel-content-wide-wrapper {
      width: 100%;
      padding-top: 70px;
      min-height: 100%;
      background-color: $panel-bg;

    }

    //Panel Content Wrapper if there is SideBar Ex. Users, Dashboard
    .panel-content-wrapper {
        width: 100%;
        min-height: 100%;
        padding-left: 140px;
        padding-top: 70px;
        background-color: $panel-bg;

      // If there is no header ex. Dashboard, Users
       &.without-header {
        padding-top: 0;
       }

      //Panel Content Header
      .panel-content-header {
        width: 100%;
        height: 50px;
        position: fixed;
        margin-left: -160px;
        padding-left: 160px;
        z-index: 5;
        background-color: $whitenotwhite;
        border-bottom: 1px solid $border-lighter;

        //Panel Content Header Daterangepicker
        .panel-content-date-range-wrapper {
          width: 360px;
          height: 100%;
          float: right;

          .panel-date-range-holder {
            height:100%;
            width: 100%;
            position: relative;
            padding-left: 50px;
            padding-right: 25px;
            border-left: 1px solid $border-verylighter;
            figure {
              width: 26px;
              height: 24px;
              position: absolute;
              top: 13px;
              left: 20px;
              background-color: red;
            }
            .panel-date-range-picker {
              width: 100%;
              height: 100%;
              text-align: center;
              padding-top: 15px;
              font-family: $fontstack;
              font-size: 13px;
              &:focus {
                outline: 0;
              }
              > span {
                font-size: 15px;
                font-weight: 400;
                color: $greyishblack;
                @include font-smoothing;

              }
            }
          }
        }
        //Panel ContentHeader Project
        .panel-content-project-wrapper {
          width: 250px;
          height: 100%;
          display: block;
          float: left;
          .panel-project-holder {
            width: 100%;
            height: 100%;
            border-right: 1px solid $border-verylighter;
            padding-left: 25px;
            padding-top: 14px;
            span {
              font-size: 16px;
              font-weight: 400;
              font-family: $fontstack;
              color: $greyishblack;
            }
          }
        }
        //Panel ContentHeader Platform
        .panel-content-platform-wrapper {
          display: block;
          width: 210px;
          height: 100%;
          float: right;
          .panel-platform-holder {
            height: 100%;
            width: 100%;
            border-left: 1px solid $border-verylighter;
            .panel-platform-dropdown {
              width:210px;
              height: 100%;
            }
            .ms-parent {
              display: inline-block;
              position: relative;
              vertical-align: middle;

              .ms-choice {
                display: block;
                width: 100%;
                height: 100%;
                padding: 0;
                padding-left: 25px;
                overflow: hidden;
                cursor: pointer;
                text-align: left;
                font-family: $fontstack;
                border: 0;
                white-space: nowrap;
                line-height: 26px;
                color: $whitenotwhite;
                text-decoration: none;
                background-color: transparent;
                &:focus {
                  outline: 0;
                }
                &.disabled {
                  background-color: #f4f4f4;
                  background-image: none;
                  cursor: default;
                }
                span {
                  top: 6px;
                  position: absolute;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: block;
                  padding-left: 45px;
                  font-weight: 400;
                  font-family: $fontstack;
                  font-size: 15px;
                  color: $greyishblack;
                  @include font-smoothing;
                }

                > div {
                  position: absolute;
                  top: 21px;
                  right: 20px;
                  width: 10px;
                  height: 10px;
                  background: url('/assets/images/small/arrow-down-grey.svg');
                  @include background-image (100% auto, center);
                  &.open {
                    top: 21px;
                    background: url('/assets/images/small/arrow-up-grey.svg');
                    @include background-image (100% auto, center);
                  }
                }
              }
              .ms-drop {
                width: 100%;
                overflow: hidden;
                display: none;
                padding: 0;
                margin-top: 0px;
                position: absolute;
                z-index: 3;
                background: $white;
                color: $black;
                border: 1px solid $border-verylighter;
                border-radius: 0 0 3px 3px;
                @include box-shadow(0 2px 8px rgba(0,0,0,.1));
                ul {
                  overflow: auto;
                  margin: 0;
                  padding: 5px 0;

                  > li {
                    list-style: none;
                    display: list-item;
                    position: static;
                    height:40px;
                    padding: 3px 30px;
                    background-image: none;
                    label {
                      display: block;
                      white-space: nowrap;
                      margin-top: 8px;
                      font-family: $fontstack;
                      font-weight: 400;
                      @include font-smoothing;
                      input {
                        margin-right: 10px;
                        margin-top: -2px;
                      }
                    }
                  }
                }
                .ms-no-results {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    //Panel Content Heading
    .panel-content-holder {
      min-height: 100%;
      width: 100%;  /* Media Queries*/
      padding: 0;
      padding-top: 50px;
      margin: 0;

      &.without-header {
        padding-top: 0px;
      }

      //Widgets in the panel
      .panel-content-widget {
        display: block;
        padding: 15px 20px 15px;
        float: left;
        background-color: $panel-bg;

        &.sm {
          width: 33%;
        }
        &.md{
          width: 50%;
        }
        &.lg {
          width: 66%;
        }
        &.xlg {
          width: 100%;
        }
        &.border-top {
          border-top: 1px solid rgba(0,0,0,0.1);
        }
        &.border-bottom {
          border-bottom: 1px solid rgba(0,0,0,0.1);
        }
        &.border-right {
          border-right: 1px solid rgba(0,0,0,0.1);
        }
        &.border-left {
          border-right: 1px solid rgba(0,0,0,0.1);
        }

        &.bg0 {
          background-color: #fff;
        }

        &.bg1 {
          background-color: #fafafa;
        }

        &.bg2 {
          background-color: #f6f6f6;
        }

        &.bg3 {
          background-color: #f0f0f0;
        }

        &.bg4 {
          background-color:$grey-bg ;
        }
        &.shadowed {
          @include box-shadow(inset 0 1px 0 rgba(0,0,0,0.05));
        }
      }
    }
}



//-----PROJECT PAGE START A PROJECT HOLLER(if there is no project) -----//

.start-project-holder{
  height: 100%;
  padding-top: 95px;
  text-align: center;
  font-family: $fontstack;

  .main-message {
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 46px;
    letter-spacing: 1px;
    color: $black;
  }
  .sub-message {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 40px;
    color: $greyishblack;
  }
  button {

  }
}

//Panel Componenets includes Chart Holder Interval Holder, Metric Box holder,  Freq Holder, Loading Overlay, Panel DateRange holder etc.
@import "modules/panel-components/panel-components";

@import "pages/panel-pages/panel-pages";


@import "modules/layouts/float";
@import "modules/layouts/text-align";


@import "modules/elements/onoff-switch";
@import "modules/elements/buttons";
@import "modules/elements/forms";


@import "extensions/datatables";
@import "extensions/query-builder";
@import "extensions/daterange-picker";
@import "extensions/multiple-dropdown";


@import "modules/animation";


@import "modules/media";

