//-----------------------------SIGN PAGES----------------------------//
//-------------------------------------------------------------------//

.sign-wrapper {

  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 120px;
  overflow-x: hidden;
  background-color: $whitenotwhite;
  z-index:-1;

  //signup form is too long, shorten padding-top to 40px
  &#signup {
    padding-top: 40px;
  }

  .logo-holder {
    height: 50px;
    width: 100%;
    text-align: center;
    .logo {
      height: 38px;
      width: 150px;
      margin-left: auto;
      margin-right: auto;
      span {
        font-weight: 100;
      }
    }
  }

  .sign-header {
    background-color: $main-header;
    height: 80px;
    padding-top: 29px;

    .sign-logo {
      width: 100%;
      height: 22px;
      background: url('/assets/images/engined-logo-icon-white.svg');
      @include background-image(auto 100%, center);
    }

    .form-heading {
      letter-spacing: 0.4px;
      color: $greyishblack;
    }

  }

  .sign-form-holder {
    width: 450px;
    margin: 30px auto 0;
    border: 1px solid $border-lighter;
    border-radius: 3px;
    background-color: $white;
  }

  .sign-form-group {
    width: 100%;

    .sign-heading-holder {
      height: 50px;
      width: 100%;
      text-align: center;
      padding-top: 20px;
      border-bottom: 1px solid $border-verylighter;
    }


    .sign-message-holder {
      display: none;
      width:100%;
      height: 35px;
      padding-top: 17px;
      text-align: center;
    }

    .sign-form-item-holder {
      padding: 25px 35px 10px;

      .sign-form-item {
        width: 100%;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 10px;
        }

        &.thin {
          margin-bottom: 0px;
        }

        label {
          width: 100%;
          margin: 0;
          margin-bottom: 3px;
          text-align: left;
          font-size: 12px;
          font-weight: 500;
          color: $greyishblack;
        }

        input[type="email"], input[type="password"], input[type="text"] {
          width: 100%;
        }


        .checkbox-span {
          font-family: $fontstack;
          font-size: 12px;
          font-weight: 400;
          color: $black;
          letter-spacing: 0.2px;

          /*For terms and conditions*/
          a {
            color: $blue;
            &:hover {
              text-decoration: none;
              color: $blue-hover;
            }
          }
        }
      }

    }

    .sign-button-holder {
      width: 100%;
      height: 60px;
      padding: 0px 40px;
      text-align: center;


      /* Forgot Password */
      span > a{
        float: left;
        margin-top: 15px;
        margin-left: 4px;
        font-family: $fontstack;
        font-size: 11px;
        color: $blue;
      }

    }

  }

  /*Writings outside of the box*/
  .sign-footer-holder {
    text-align: center;
    padding-top: 15px;

    p {
      margin: 0;
      padding: 0;
      font-size: 12px;
      font-weight: 300;
    }

    a {
      font-weight: 400;
      color: $blue;

      &:hover {
        color: $blue-hover;
        text-decoration: none;
      }
    }
  }

}
