//---------------------------DATATABLES ------------------------------//
//--------------------------------------------------------------------//


/* There are three type of datatable in SmartClick.io only one of them is used. This is table-project */

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f2f2f2;
}

.action-table img{
  width:18px;
  height:18px;
}

table.dataTable {
  clear:both;
  margin:40px 0 10px;
  border-top: 1px solid $border-lighter;
  border-bottom: 1px solid $border-lighter;
  border-left: 1px solid $border-verylighter;
  border-right: 1px solid $border-verylighter;
  border-radius: 3px;
}

.table {
  border-radius: 3px 3px 3px 3px;
  thead {
    tr {
      th {height: 46px;
        padding: 8px 8px 10px;
        font-family: $fontstack-heading;
        font-size: 14px;
        font-weight: 400;
        outline: 0;
        cursor: default;
        -moz-box-sizing: border-box;
        border: 1px solid $border-lighter;
        background-color: $table-normal-grey;
        letter-spacing: 0.3px;
        color: $black;
        &.check-header {
          padding: 24px 16px 18px;
        }
        .select-box {
          height: 20px;
          margin: 0;
          padding-right: 5px;
          padding-top: 2px;
          outline: 0;
          border-radius: 3px;
          border: 1px solid #d6d6d6;
          font-family: $fontstack-heading;
          font-size:14px;
          background-color: $whitenotwhite;
        }
      }
      &.total-row {
        border-bottom: 1px solid $border-verylighter;
        th {
          padding: 8px 12px 8px;
          background-color: $whitenotwhite;
          &:first-child {
            border-left: 1px solid $border-lighter;
          }
          span {
            width: 100%;
            display: block;
            letter-spacing: 0;
            text-align: right;
            font-family: $fontstack;
            &.number {
              font-family: $fontstack-heading;
              font-size: 24px;
              font-weight: 400;
            }
            &.percentage {
              font-family: $fontstack-heading;
              font-size: 11px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  &.table-twoway {
    thead {
      tr {
        th {
          padding: 8px 8px 11px;
          border: 1px solid $border-lighter;
          -moz-box-sizing: border-box;
          background-color: $table-normal-grey;
          color: $black;

        }
        &.total-row {
          th {
            background-color: $whitenotwhite;
            padding: 8px 12px 8px;
          }
        }
      }
    }
  }

  &.table-project {
    thead {
      border-radius: 3px 3px  0 0;
      tr {
        border: 1px solid $border-lighter;
        border-radius: 3px 3px 0 0;
        th {
          padding: 15px 15px 11px;
          border: 0;
          background-color: $table-normal-grey;
          color: $black;

          &:first-child {
            border-radius: 3px 0 0 0;
          }

          &:last-child {
            border-radius: 0 3px 0 0;
          }

          &.center {
            text-align: center;
          }
        }
      }
    }
  }
}
.table {
  tbody {
    tr {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      td {
        padding: 9px 13px;
        vertical-align: middle;
        border-top: none;
        font-family: $fontstack;
        font-size: 13px;
        font-weight: 400;
        color: $black;
        @include font-smoothing;
        &.check {
          width: 20px;
          padding: 8px 16px 8px;
          label {
            margin: 0;
            input {
              margin: 0;
            }
          }
        }
        &.grey-cell {
          background-color: $whitenotwhite
        }
        &.white-cell {
          background-color: $white;
        }
        &.right-txt {
          text-align: right;
        }
        > a {
          color: #337ab7;
          &:hover {
            color: #337ab7;
          }
        }
      }
      &.odd {
        background: $tableodd;
        td {
          background-color: transparent;
        }
      }
      &.even {
        background: $tableeven;
      }

      &.selected {
        background-color: rgba(43, 136, 168, 0.14);
        border-color: rgba(43, 136, 168, 0.08);
      }
      &.clickable-row {
        cursor: pointer;
      }
    }

  }

  &.table-twoway {
    tbody {
      tr {
        cursor: default;
        border-bottom: 1px solid $border-verylighter;
        &:last-child {
          border-bottom: 1px solid $border-lighter;
        }
        &.odd {
          background: $white;
        }
        &.even {
          background: $white;
        }
        td {
          border-right: 1px solid $border-lighter;
          &:first-child {
            border-left: 1px solid $border-lighter;
            font-weight: 500;
          }
          &:last-child {
            border-right: 1px solid $border-lighter;
          }
        }
      }
    }
  }
  &.table-project {
    tbody {
      tr {
        border-bottom: 1px solid $border-verylighter;
        &:last-child {
          border-bottom: 1px solid $border-lighter;
        }
        &.odd {
          background: $white;
        }
        &.even {
          background: $white;
        }
        td {
          padding: 12px 16px;
          font-size: 14px;
          color: $black;
          @include font-smoothing;

          &:first-child {
            border-left: 1px solid $border-lighter;
            font-size: 13px;
            font-weight: 500;
          }
          &:last-child {
            border-right: 1px solid $border-lighter;
          }
          &.center {
            text-align: center;
          }
        }
      }
    }
  }
}

.table-not-striped {
  border: 1px solid $border-lighter;
  thead {
    tr {
      border-left: 1px solid $border-lighter;
      border-right: 1px solid $border-lighter;
    }
  }
  tbody {
    tr {
      border-right: 1px solid $border-lighter;
      border-left: 1px solid $border-lighter;
      border-bottom: 1px solid $border-verylighter;
      &:last-child {
        border-bottom: 1px solid $border-lighter;
      }
      &.odd {
        background: $white;
      }
      &.even {
        background: $white;
      }
      td {

      }
    }
  }
}
.dataTables_wrapper {
  position: relative;
  clear: both;
  zoom: 1;
}

.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
}


.dataTables_length {
  width: 50%;
  height: 50px;
  float: left;
  padding-top: 15px;
  margin-bottom: 4px;
  label {
    font-size: 13px;
    font-family: $fontstack;
    font-weight: 400;
    color: $black;
    select {
      width:60px;
      height: 25px;
      margin: 0 4px;
      padding-left: 10px;
      outline: 0;
      border-radius: 3px;
      border: 1px solid #d6d6d6;
      font-family: $fontstack;
      font-size:12px;
      text-indent: 5px;
    }
  }
}


.dataTables_filter {
  width: 50%;
  height: 45px;
  float: right;
  text-align: right;
  position: relative;
  font-family: $fontstack;
  padding-top: 15px;
  padding-right: 70px;
  label {
    font-size: 0;
    input {
      width:220px;
      height: 32px;
      margin: 0 0 5px 6px;
      padding: 4px 10px;
      border: 1px solid $border-normal;
      border-radius: 3px;
      outline: 0;
      z-index: 2;
      text-indent: 15px;
      vertical-align: middle;
      font-size: 14px;
      font-family: $fontstack;
      font-weight: 400;
      line-height: 1.428571429;
      background: $white;
      @include font-smoothing;
      @include transition (all .3s);
      &:focus {
        outline: 0;
        border: 1px solid $blue;
      }
      &::-webkit-input-placeholder {
        font-size: 14px;
        color: $border-darker;
        font-weight: 400;
      }
      &::-moz-placeholder {
        font-size: 14px;
        color: $border-darker;
        font-weight: 400;
      }
      &:-ms-input-placeholder {
        font-size: 14px;
        color: $border-darker;
        font-weight: 400;
      }
      &::input-placeholder {
        font-size: 14px;
        letter-spacing: 0.3px;
        color: $border-darker;
        font-weight: 400;
      }
    }
  }
  &.dataTables_filter_hide {
    &:before {
      display : none;
    }
  }
}


select[size] {
  padding-left: 10px;
}


.dataTables_info {
  float: left;
  margin: 4px 0px 0px;
  font-size: 13px;
  font-family: $fontstack;
  color: $black;
}

.dataTables_paginate {
  float: right;
  text-align: right;
  margin: 5px 15px;
  font-family: $fontstack;

}
.dataTables_paginate .first {
  display: none;
}
.dataTables_paginate .last {
  display: none;
}
.dataTables_paginate a {
  height: auto;
  margin-left:5px;
  font-size: 13px;
  font-family: $fontstack;
  color: #a0a3a6;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none !important;

  &.current {
    color: $white;
    background-color: $blue;
    border-radius: 5px;
    &:hover {
      color: $white;
    }
  }
}
.dataTables_paginate a:hover {
  color: $blue;
}
.dataTables_paginate a.paginate_active {
  color: $blue;
}
.dataTables_paginate a.paginate_button_disabled {
  border-color: #e3e3e3;
  color: #e3e3e3;
  pointer-events: none;
}
/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  float: left;
  cursor: pointer;
  *cursor: hand;
  color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
  text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
  outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
  color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
  padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
  padding-right: 23px;
  margin-left: 10px;
}
/*
.paginate_disabled_previous {
  background: url('../assets/images/tables/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
  background: url('../assets/images/tables/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
  background: url('../assets/images/tables/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
  background: url('../assets/images/tables/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
  background: url('../assets/images/tables/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
  background: url('../assets/images/tables/forward_enabled_hover.png') no-repeat top right;
}
*/


table.display {
  margin: 0 auto;
  clear: both;
  width: 100%;

  /* Note Firefox 3.5 and before have a bug with border-collapse
   * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 )
   * border-spacing: 0; is one possible option. Conditional-css.com is
   * useful for this kind of thing
   *
   * If you want that effect I'd suggest setting a border-top/left on th/td's and
   * then filling in the gaps with other borders.
   */
}


table.display tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;
}

table.display tr.heading2 td {
  border-bottom: 1px solid #aaa;
}

table.display td {
  padding: 3px 10px;
}

table.display td.center {
  text-align: center;
}



.dataTable thead tr th {
  &.sorting {
    cursor: default;
    position: relative;
    span {
      width: 40px;
      height: 100%;
      float: right;
      position: absolute;
      right: 0px;
      top:0px;
      cursor: pointer;
      background: url('/assets/images/small/arrow-updown-lightgrey.svg');
      @include background-image (8px auto, center);
    }
  }
  &.sorting_asc {
    position: relative;
    cursor: pointer;
    color: $black;
    span {
      width: 40px;
      height: 100%;
      float: right;
      position: absolute;
      right: 0px;
      top: 0px;
      background: url('/assets/images/small/arrow-down-black.svg');
      @include background-image (8px auto, center);
    }
  }
  &.sorting_desc{
    position: relative;
    cursor: pointer;
    color: $black;
    span {
      width: 40px;
      height: 100%;
      float: right;
      position: absolute;
      right: 0px;
      top: 0px;
      background: url('/assets/images/small/arrow-up-black.svg');
      @include background-image (8px auto, center);
    }
  }
}


.dataTables_scroll {
  clear: both;
}

.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

.top .dataTables_info {
  float: none;
}

.clear {
  clear: both;
}

.dataTables_empty {
  text-align: center;
}

tfoot input {
  margin: 0.5em 0;
  width: 100%;
  color: #444;
}

tfoot input.search_init {
  color: #999;
}

td.group {
  background-color: #d1cfd0;
  border-bottom: 2px solid #A19B9E;
  border-top: 2px solid #A19B9E;
}

td.details {
  background-color: #d1cfd0;
  border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
  width: 40%;
}

.paging_full_numbers {
  width: 400px;
  height: 22px;
  line-height: 22px;
  margin-bottom:10px;
}

.paging_full_numbers a:active {
  outline: none
}

.paging_full_numbers a:hover {
  text-decoration: none;
}

table.display tr.even.row_selected td {
  background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
  background-color: #9FAFD1;
}


/*
 * KeyTable
 */
table.KeyTable td {
  border: 3px solid transparent;
}

table.KeyTable td.focus {
  border: 3px solid #3366FF;
}

table.display tr.gradeA {
  background-color: #eeffee;
}

table.display tr.gradeC {
  background-color: #ddddff;
}

table.display tr.gradeX {
  background-color: #ffdddd;
}

table.display tr.gradeU {
  background-color: #ddd;
}

div.box {
  height: 100px;
  padding: 10px;
  overflow: auto;
  border: 1px solid #8080FF;
  background-color: #E5E5FF;
}

div.DTTT_container {
  position: absolute;
  right: 0;
  left: initial;
  width: 60px;
  .DTTT_button_copy {
    display: none;
  }
  .DTTT_button_csv {
    display: none;

  }
  .DTTT_button_pdf {
    display: none;

  }
  .DTTT_button_print {
    display: none;

  }
  .DTTT_button_xls {
    width: 50px;
    height: 32px;
    background: url('../images/excel-export.png');
    @include background-image(auto 100%, center);
    border: 0;

    span {
      display: none;
    }

    &:active, &:hover, &:focus {
      outline: 0;
      @include box-shadow(none);
    }

  }
}