<div class="panel-content-widget xlg">
    <div class="tab-wrapper">
        <ul class="tab-holder">
            <li class="tab-item{% if menu == "servers" %} active{% endif %}"><a href="/panel/admin/servers">{% trans %}
                    Servers{% endtrans %}</a></li>
            <li class="tab-item{% if menu == "profit_loss" %} active{% endif %}"><a href="/panel/admin/profit_loss">{% trans %}
                    Profit and Loss{% endtrans %}</a></li>
            <li class="tab-item{% if menu == "domains" %} active{% endif %}"><a href="/panel/admin/domains">{% trans %}
                    Domains{% endtrans %}</a></li>
            <li class="tab-item{% if menu == "carriers" %} active{% endif %}"><a href="/panel/admin/carriers">{% trans %}
                    Carriers{% endtrans %}</a></li>
        </ul>
    </div>
</div>